.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(0.3);
    /* 명도 조절: 0.5배 */
}

.home-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    .intro{
        width: 500px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        img{
            height: 100px;
            margin: 30px;
        }
        .pokemon-name{
            margin-left: 100px;
            color: #fff;
            h2{
                font-size: 50px;
            }
            p{
                font-size: 20px;
                margin-left: 20px;
                margin-top: 10px;
            }
        }
    }
    .menu-list {
        width: 300px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: end;

        span {
            overflow: hidden;
            transition: width .2s ease-in;
            width: 100px;
            cursor: pointer;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            padding-left: 1rem;
            background-size: cover;
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
            border-left: 3px solid;
            border-top: 3px solid;
            border-bottom: 3px solid;

            p {
                font-size: 18px;
                height: 1rem;
                color: #fff;
            }
        }
    }
}