.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(0.3);
    /* 명도 조절: 0.5배 */
}

.home-container {
    display: flex;
    justify-content: space-between;

    .intro {
        margin: 3rem;
        padding: 1rem;
        background: linear-gradient(45deg, #ff0000, #9c0000);
        //background-color: rgb(179, 0, 0);
        border: 4px solid #000;
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .intro-gif {
            position: relative;
            background-size: cover;
            border: 4px solid #000;
            display: flex;
            width: 100%;
            justify-content: center;
            overflow: hidden;
            padding: 30px 0 10px 0;

            .model {
                height: 120px;
                z-index: 2;
            }

            .ground {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                z-index: 1;
            }
        }

        .pokemon-name {
            margin-top: 20px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .dex-number {
                background-color: #fff;
                color: #e07e4d;
                padding: 3px 10px;
                border-radius: 30px;
                font-size: 20px;
            }

            h2 {
                font-size: 40px;
                margin: 10px 0;
            }

            p {
                font-size: 17px;
            }

            .types {
                margin: 10px 0 20px 0;
                display: flex;
                align-items: center;
                gap: 5px;
                img{
                    border: 1px solid #fff;
                    border-radius: 30px;
                    width: 20px;
                    height: 20px;
                }
                span {
                    border: 1px solid #fff;
                    border-radius: 10px;
                    font-size: 13px;
                    width: 70px;
                    padding: 5px 0;
                    text-align: center;
                }
            }

            .description {
                font-family: 'Ramche';
                padding-top: 25px;
                text-align: center;
                font-size: 15px;
                line-height: 1.5rem;
                width: 300px;
                height: 100px;
                background-color: #fff;
                border: none;
                color: #000;
            }
        }
    }

    .menu-list {
        width: 300px;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: end;

        span {
            overflow: hidden;
            transition: width .2s ease-in;
            width: 100px;
            cursor: pointer;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            padding-left: 1rem;
            background-size: cover;
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
            border-left: 3px solid;
            border-top: 3px solid;
            border-bottom: 3px solid;

            p {
                font-size: 18px;
                height: 1rem;
                color: #fff;
            }
        }
    }
}